<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" 
      internalLogLevel="Warn" 
      internalLogFile="${basedir}/logs/nlog.log" 
      throwConfigExceptions="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- File Target for all log messages with basic details -->
    <target xsi:type="File" 
            name="Warning" 
            fileName="${basedir}/logs/Warninglog-${date:format=yyyy-MM-dd}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File"
            name="GameStatusController"
            fileName="${basedir}/logs/controllers/GameStatusController-${date:format=yyyy-MM-dd}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File"
            name="PavlovShackStatsController"
            fileName="${basedir}/logs/controllers/PavlovShackStatsController-${date:format=yyyy-MM-dd}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File"
            name="ModIoService"
            fileName="${basedir}/logs/services/ModIoService-${date:format=yyyy-MM-dd}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File"
            name="GameStatusService"
            fileName="${basedir}/logs/services/GameStatusService-${date:format=yyyy-MM-dd}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Warn" writeTo="Warning" />
    <logger name="*.GameStatusController" minlevel="Info" writeTo="GameStatusController" />
    <logger name="*.PavlovShackStatsController" minlevel="Info" writeTo="PavlovShackStatsController" />
    <logger name="*.ModIoService" minlevel="Info" writeTo="ModIoService" />
    <logger name="*.GameStatusService" minlevel="Info" writeTo="GameStatusService" />
  </rules>
</nlog>