* {
  margin: 0;
  padding: 0;
}

header,
main {
  display: flex;
  margin: 3px;
  justify-content: center;
}

header {
  height: 100px;
  background-image: url('./res/images/HeaderImage.jpg');
  background-repeat: no-repeat;
}

nav {
  align-self: flex-end;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}

header a {
  margin: 10;
  font-size: 20pt;
  padding: 1px;
  margin: 10px;
  background-color: transparent;
}

main {
  flex: 20 1 500vw;
  height: calc(100vh - 224px);
  font-size: larger;
}

